.op{
    opacity: 1;
}
.translusent{
    opacity: 0.5
}
.home {
        background-image: url('../images/background2.jpg');

}
.bgc-danger{
    font-weight: bold;
    background: rgba(255,0,0,0.7);
}
.bgc-primary{
    font-weight: bold;
    background: rgba(2,117,225,0.7);
}
.bgc-white{
    border-radius: 25px;

    background: rgba(0,0,0,0.7);
}
.bgc-light{
padding: 10px;
font-weight: bold;
    background: rgba(245,245,245,0.8);
}
.text-black{
    color:black;
}
.card-trans{
    background: rgba(255,255,255,0.8);
}