{% extends 'forum/base.html' %}
{% block content %}
    <div class="card">
        <img class="card-img-top" src="{{ profile.profilePicture }}" alt="Profile Picture">
        <div class="card-body">
            <h4 class="card-title">{{ user }}</h4>
            <p class="card-text">{{ profile.course}}</p>
            <p class="card-text">{{ profile.bio }}</p>
        </div>
    </div>
    {% for post in posts %}
    <div class="card m-3">
    <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
        <div class="card-header bg-light">
            <span>
            {{post.post_title}}
            </span>
            <span style="float:right;">
            {% comment %} <span style="float:right;"> {% endcomment %}
            {% if user == post.author%}
                <a href="{% url 'Edit-Post' id=post.pk %}" ><span style="float:left;"><button type="button" class="btn btn-outline-success">Edit</button></span></a>
            {% endif %}
            </span>
        </div>
        <div class="card-body">
            <div class="card-subtitle mb-2 text-muted"><p style='font-size:10px'>Posted by <em style='color:blue'> {{post.author}}</em> on {{post.created}}</p></div>
            <p class="card-text">{{post.post_content | safe}}</p>
            </div>
        <div class="card-footer">
        <a href="{% url 'View-Post' id=post.pk %}" class="card-link">Read more</a>


        </div>

     </div>
    {% endfor %}
{% endblock %}