{% extends 'forum/base.html' %}
{% block content %}
    <div class="container center">
    <form method="POST">
    {% csrf_token %}
        <div class="form-group">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ error }}</strong>
            </div>
            {% endif %}
            <label for="a_content">Announcement</label>
            <textarea class="form-control" name="a_content" id="a_content" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>


{% endblock %}