{% extends 'forum/base.html' %}
{% block content %}
    {% for post in posts %}
    <div class="p-0 bgc-light card  m-3">
    <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
        <div class="bgc-light card-header ">
            <span>
            {{post.post_title}}
            </span>
            <span style="float:right;">
            {% comment %} <span style="float:right;"> {% endcomment %}
            {% if user.is_superuser %}
                <a href="{% url 'Delete-Post' id=post.pk %}" ><span style="float:left;"><button type="button" class="btn btn-danger">Delete</button></span></a>
            {% endif %}
            </span>
            <span style="float:right;">
            {% comment %} <span style="float:right;"> {% endcomment %}
            {% if user == post.author%}
                <a href="{% url 'Edit-Post' id=post.pk %}" ><span style="float:left;"><button type="button" class="btn btn-outline-success">Edit</button></span></a>
            {% endif %}
            </span>
        </div>
        <div class="card-body bg-light">
            <div class="card-subtitle mb-2 text-muted"><p style='font-size:10px'>Posted by <a href="{% url 'Author-Post' id=post.author.pk %}"><em style='color:blue'> {{post.author}}</em></a> on {{post.created}}</p>{% if post.edited %}<span class="badge badge-primary fl">Edited</span>{% endif %}</div>

            <p class="card-text">{{post.post_content | safe}}</p>
            </div>
        <div class="card-footer">
        <a href="{% url 'View-Post' id=post.pk %}" class="card-link">Read more</a>


        </div>

     </div>
    {% endfor %}
{% endblock content %}