{% extends 'forum/base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Student Portal</h1>
        <p class="lead">Forum for students to interact with their peer</p>
        <hr class="my-4">
        <p>Make sure to be civil in your interactions</p>
        <a class="btn btn-primary btn-lg" href="{% url 'Forum-Home'%}" role="button">Go to Forum</a>
    </div>
</div>




        {% for announcement in ancmts %}
            <div class="list-group">
        <div class="list-group-item list-group-item-action list-group-item-warning active"><span>{{ announcement.title }} <span>
            {% for tag in announcement.tag %}
                {{ tag }}

            {% endfor %}
        </span>
            {% if user == announcement.author %}
                </span><span style="float:right;">
            <a href="{% url 'E-ANC' id=announcement.pk %}"><span class="badge badge-pill badge-primary">Edit</span></a></span>
            {% endif %}
        <div><small>Announced on {{ announcement.publish }}</small></div>
        </div>
        <div class="list-group-item list-group-item-action list-group-item-primary active"><p>{{ announcement.content }}</p></div>
            </div>
            <br />

        {% endfor %}



{% endblock content %}
