{% extends 'forum/base.html' %}
{% block content %}
<div class="container-fluid">
<div class="container">
    <h3 class="display-4">{{post.post_title}}</h3>
    <hr />
    <small>Posted by <em>{{post.author}}</em> on {{post.publish}}</small>
    <br />
    <p>{{post.post_content | safe }}</p>
</div>
<hr />
<form method="POST">
{% csrf_token %}
   <div class="form-group">
     <label for="comment">Comment</label>
     <textarea class="form-control" name="comment" id="comment" rows="4"></textarea>
   </div>
   <span><small>   Commenting as {{user}}</small></span><span style="float:right;"><button  type="submit" class="btn btn-primary">Submit</button>

    </form>
</div><br />
{% for element in comment %}
<div class="card m-2">
    <div class="card-body">
    <h4 class="card-title">{{element.comment}}
    </h4>
    <p class="card-text">Text</p>
  </div>
</div>
{% endfor %}
{% endblock content %}
