{% extends 'forum/base.html' %}
{% block content %}
{#    add content here #}
    {%  for item in resource %}
{{ item.content }}

    {% endfor %}
 {% if resource.has_other_pages %}
  <ul class="pagination">
    {% if resource.has_previous %}
      <li><a href="?page={{ resource.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in resource.paginator.page_range %}
      {% if resource.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if resource.has_next %}
{#      <li><a href="{% url 'RESOURCE' id=sid   pnum=resource.next_page_number %}">&raquo;</a></li>#}
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{%  endblock %}