{% extends 'forum/base.html' %}
{% block content %}
{#    add content here #}
    <div class="container-fluid align-center">
    {%  for item in resource %}
        <hr />
        <div class="card">

            <div class="card-body">
                <h4 class="card-title"><a href="{{ item.url }}">{{ item.resourceTitle }}</a></h4>
                <p class="card-text">{{ item.content }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
 {% if resource.has_other_pages %}
  <ul class="pagination">
    {% if resource.has_previous %}
      <li><a href="?page={{ resource.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in resource.paginator.page_range %}
      {% if resource.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if resource.has_next %}
{#      <li><a href="{% url 'RESOURCE' id=sid   pnum=resource.next_page_number %}">&raquo;</a></li>#}
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{%  endblock %}