{% extends 'forum/base.html' %}
{% block content %}
<div class="bgc-light">
    <hr />
    <hr style="height:3px;border-width:0;color:red;background-color:red">

    <div class="container align-center">
    <form action="{% url 'ANC' %}" method="POST">
    {% csrf_token %}
        <div class="form-group">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ error }}</strong>
            </div>
            {% endif %}

            <div class="form-group">
                <h2 >Add an Announcement</h2>
                <hr />
                <label for="a_title">Announcement Title</label>
                <input type="text"
                       class="form-control" name="a_title" id="a_title" aria-describedby="helpId" placeholder="Title">
                <small id="helpId" class="form-text text-muted">Max char 200</small>
            </div>
            <div class="form-group">
                <label for="a_tag">Tags</label>
                <input type="text"
                       class="form-control" name="a_tag" id="a_tag" aria-describedby="helpId" placeholder="Exam, Event, Workshop, webinar, etc">
                <small id="helpId" class="form-text text-muted">Separate each tag by comma</small>
            </div>
        <label for="a_content">Announcement</label>
            <textarea class="form-control" name="a_content" id="a_content" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
    </div>
    <hr />
    <hr style="height:3px;border-width:0;color:red;background-color:red">
    <div class="container align-center"><form method="POST" action="{% url 'C-Subject'%}">
        
        {% csrf_token %}
        <div class="form-group">
          <h2 for="className">Add a Subject</h2>
          <label for="subjectName">Subject Name</label>
          <input type="text"
            class="form-control" name="subjectName" id="subjectName" aria-describedby="helpId" placeholder="Subject Name">
            <br />
        </div>
            <div class="form-group">
              <label for="subjectCode">Subject Code</label>
              <input type="text"
                class="form-control" name="subjectCode" id="subjectCode"  placeholder="Subject Code">
              
            <br />
          <button type="submit" class="btn btn-danger">Add Subject</button>
        </div>
    </form>
</div>
    <hr />
    <hr style="height:3px;border-width:0;color:red;background-color:red">

    <div class="container align-center">
    <h2>Add a Resource</h2>
    <form action="{% url 'C-RESOURCE' %}" method="POST">
    {% csrf_token %}
        <div class="form-group">
            <label for="r_title">Resource Title </label>
            <input type="text"
                   class="form-control" name="r_title" id="r_title" aria-describedby="helpId" placeholder="Resource Title">
            <small id="helpId" class="form-text text-muted">Max Char 200</small>
        </div>
        <div class="form-group">
            <label for="r_sub">Subject</label>
            <select class="form-control" name="r_sub" id="r_sub">
                {% for item in subjects %}
                <option>{{ item.subjectCode }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-group">
            <label for="r_url">URL</label>
            <input type="text" class="form-control" name="r_url" id="r_url" aria-describedby="helpId" placeholder="url">
            <small id="helpId" class="form-text text-muted">Enter valid  web address</small>
        </div>
        <div class="form-group">
            <label for="r_content">Description</label>
            <textarea class="form-control" name="r_content" id="r_content" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>
<hr />
<hr style="height:3px;border-width:0;color:red;background-color:red">
<div class="container align-center">
<h1>Time Table</h1>
    <div style="display:flex; flex-direction:row">
        <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Edit TimeTable
    </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for i in classes %}
                    <a class="dropdown-item" href="{% url 'E-Time-Table' id=i.cls %}">{{ i.cls }}</a>
        {% endfor %}
        </div>
        </div>

    <!-- <a name="editTimetable" id="editTimetable" class="btn btn-danger" href="{%url 'E-Time-Table' '1'%}" role="button">EditTimetable</a> -->
    
    </div>
    <hr />
    <form method="POST" action="{% url 'C-Time-Table' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="className">Class Name</label>
          <input type="text"
            class="form-control" name="className" id="className" aria-describedby="helpId" placeholder="Class Name">
            <br />
          <button type="submit" onClick="timeTable()" class="btn btn-danger">Create TimeTable</button>
        </div>
    </form>
</div>
<hr />
<hr style="height:3px;border-width:0;color:red;background-color:red">

{% endblock %}
