{% extends 'forum/base.html' %}
{% block content %}
 <h3 class="text-white">Edit Post</h3>
 <form method ='POST'>
     {% csrf_token %}
     <div class="bgc-light form-group">
       <label for="a_title">Title</label>
       <input type="text" class="form-control" name="a_title" id="a_title" value="{{ancmt.title}}"/>
         <div class="form-group">
             <label for="a_tag">Tags</label>
             <input type="text"
                    class="form-control" name="a_tag" id="a_tag" aria-describedby="helpId" value="{{ ancmt.tag }}">
             <small id="helpId" class="form-text text-muted">Help text</small>
         </div>
     </div>
     <div class="form-group">
       <label for="a_content">Announcement</label>
       <textarea class="form-control" name="a_content" id="a_content" rows="4">{{ancmt.content}}</textarea>
     </div>

{#      <a name="delete" id="delete" class="btn btn-danger" href="{% url 'Delete-Post' id=post.pk %}" role="button">Delete</a>#}
     <button type="submit" class="btn btn-primary">Submit</button>
 </form>
{% endblock content %}